* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: darkgreen;
  font-size: 15px;
}


// road
.road {
    position: relative;
    height: 100vh;
    width: 45%;
    left: 27.5%;
    border-left: 8px solid grey;
    border-right: 8px solid grey;
    background-image: url("../images/road.png");
    overflow: hidden;
}

.stripe {
    position: absolute;
    height: 150px;
    width: 4%;
    background-color: rgba(255,255,255,0.6);
}

.stripe-l {
  margin-left: 31%;
}

.stripe-r {
  margin-left: 64%;
}

// .stripe1 {
//     top: -150px;
// }
// .stripe2 {
//     top: 150px;
// }
// .stripe3 {
//     top: 450px;
// }

// cars

.car{
    position: absolute;
    height: 173px;
    width: 89px;
    // border-radius: 5px;
    // box-shadow: 0px 1px 8px 0px black;
}

.car-player {
  transform: rotate(180deg);
  background-image: url("../images/orange_car.png");
}

.car-1 {
  transform: rotate(180deg);
  top: -100px;
  left: 60%;
  background-image: url("../images/blue_car.png");
}
.car-2 {
  transform: rotate(180deg);
  top: -200px;
  left: 40%;
  background-image: url("../images/green_car.png");
}
.car-3 {
  transform: rotate(180deg);
  top: -350px;
  left: 50%;
  background-image: url("../images/pink_car.png");
}
// .car-4 {
//   transform: rotate(180deg);
//   background-image: url("../images/red_car.png");
// }
// .car-5 {
//   transform: rotate(180deg);
//   background-image: url("../images/white_car.png");
// }
// .car-6 {
//   transform: rotate(180deg);
//   background-image: url("../images/yellow_car.png");
// }
