* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: darkgreen;
  font-size: 15px;
}


// road
.road {
    position: relative;
    height: 100vh;
    width: 45%;
    margin: 0 auto;
    border-left: 8px solid grey;
    border-right: 8px solid grey;
    // background-image: url("../images/road.png");
    background-color: rgb(48, 48, 48);
    overflow: hidden;
}

// .road-background {
//   height: 2000px;
//   width: 100%;
//   background-image: url("../images/road.png") repeat-y;
// }

.stripe {
    position: absolute;
    height: 150px;
    width: 3%;
    background-color: rgba(255,255,255,0.7);
}

.stripe-l {
  margin-left: 31%;
}

.stripe-r {
  margin-left: 64%;
}

// cars

.car{
    position: absolute;
    height: 173px;
    width: 89px;
}

.car-player {
  transform: rotate(180deg);
  background-image: url("../images/orange_car.png");
}

.car-1 {
  transform: rotate(180deg);
  top: -100px;
  left: 60%;
  background-image: url("../images/blue_car.png");
}
.car-2 {
  transform: rotate(180deg);
  top: -200px;
  left: 40%;
  background-image: url("../images/green_car.png");
}
.car-3 {
  transform: rotate(180deg);
  top: -350px;
  left: 50%;
  background-image: url("../images/pink_car.png");
}
// .car-4 {
//   transform: rotate(180deg);
//   background-image: url("../images/red_car.png");
// }
// .car-5 {
//   transform: rotate(180deg);
//   background-image: url("../images/white_car.png");
// }
// .car-6 {
//   transform: rotate(180deg);
//   background-image: url("../images/yellow_car.png");
// }
