* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: darkgreen;
  font-size: 15px;
}

.is-mobile {
  height: 100vh;
  font-size: 2rem;
  color: rgb(60, 99, 72);
  background: linear-gradient(to right, #f2994a, #f2c94c);
  text-align: center;
  width: 100%;
}

.result {
  position: fixed;
  z-index: 2;
  font-size: 9rem;
  color: rgb(60, 99, 72);
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  overflow: hidden;
}

.score {
  position: absolute;
  text-align: left;
  z-index: 1;
  border: 1px solid white;
  border-top: none;
  padding: 0 1.5rem;
  color:white;
  font-size: 3rem;
  left: 5%;
}

.timer {
  position: absolute;
  text-align: center;
  z-index: 1;
  border: 1px solid white;
  border-top: none;
  padding: 0 1.5rem;
  color:white;
  font-size: 3rem;
  left: 50%;
}


// road
.road {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    border-left: 8px solid grey;
    border-right: 8px solid grey;
    background-color: rgb(48, 48, 48);
    overflow: hidden;
}

.stripe {
    position: absolute;
    height: 150px;
    width: 3%;
    background-color: rgba(255,255,255,0.7);
}

.stripe-l {
  margin-left: 31%;
}

.stripe-r {
  margin-left: 64%;
}

// cars

.car {
    position: absolute;
    height: 173px;
    width: 89px;
}

.car-player {
  background-image: url("../images/orange_car.png");
}
.car-1 {
  transform: rotate(180deg);
  background-image: url("../images/blue_car.png");
}
.car-2 {
  transform: rotate(180deg);
  background-image: url("../images/green_car.png");
}
.car-3 {
  transform: rotate(180deg);
  background-image: url("../images/pink_car.png");
}
.car-4 {
  transform: rotate(180deg);
  background-image: url("../images/red_car.png");
}
// .car-5 {
//   transform: rotate(180deg);
//   background-image: url("../images/white_car.png");
// }
// .car-6 {
//   transform: rotate(180deg);
//   background-image: url("../images/yellow_car.png");
// }

@media (min-width: 680px) {
  .road {
    min-width: 680px;
    max-width: 864px;
    width: 100%;
  }
  .result {
    min-width: 680px;
    max-width: 864px;
    width: 100%;
  }
}
